{% extends "body/index.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   {%block title%}<title>Contact Us</title>{%endblock title%}
   <style>
     .contact{
       width: 400px;
       height: 300px;
       margin: 150px auto;
       background:#996633;
       opacity:0.5;



     }

     </style>
   </head>
   <body>
     <div class="contact">
       <h1>Contact Us </h1>
       <a>
         <


        <span><img src="/media/pictures/mlicon.webp"  width="56" height="56">&nbsp; &nbsp;  f20180312@pilani.bits-pilani.ac.in<br>

          <img src="/media/pictures/phoico.png"  width="56" height="56" >&nbsp; &nbsp;  9836268800<br>







        </span>
      </a>
        

     </div>


 </body>


</html>
{% endblock content%}
