
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Contact </title>
    <style >
    body{
      background-color: #ffff00;
      font-style: italic;

    }
    .ab{
      margin-top: 14 rem;

      text-align: center;
    }
    .ef{
      text-align: center;
      padding: 50 50 50 50px;
    }
    .cd{
      padding: 50 50 50 50px;

    }




    </style>
  </head>

  <body>
    <div class="ab">

      <h1>Get in Touch</h1>
      <div class="ef">
      <div class="cd">
      <h2> Shrey Agrawal </h2>
      <p> email:</P>
      <P>Mobile No:7777777777<p>

        </div>
      <div class="cd">
        <h2>Raghav</h2>
        <p>email </p>
      </div>
    </div>





    </div>

  </body>
</html>
