{% extends "body/index.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   {%block title%}<title>Contact Us</title>{%endblock title%}
   <style>
     body{
       margin-top: 7rem;
       height : 100vh;

     }
     .contact{
       width: 500px;
       height: 300px;
       margin: 150px auto;
       background:#330000;
       opacity:0.8;
       color:#ffffff;
       border-radius: 15px;

   }
     .content {
       padding: 20px 20px 20px 20px;
        font-family: sans-serif;


     }


     </style>
   </head>
   <body>
     <div class="contact">
       <h1>Contact Us </h1>



        <div class="content">

          <img src="/media/pictures/mlicon.webp"  width="56" height="56">&nbsp; &nbsp;  f20180312@pilani.bits-pilani.ac.in<br>
          <img src="/media/pictures/mlicon.webp"  width="56" height="56">&nbsp; &nbsp;  f20180312@pilani.bits-pilani.ac.in<br>

          <img src="/media/pictures/phoico.png"  width="56" height="56" >&nbsp; &nbsp;  9836268800<br>

       </div>



     </div>


 </body>


</html>
{% endblock content%}
