{%extends 'body/index.html'%}
{% load static%}
<!DOCTYPE html>
{% block content%}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'body/events.css' %}">

  <title>Events</title>

</head>
<body>
  <div class="box">
      <div class="card">
        <div class="imgBx">
          <img src="/media/pictures/eve21.jpeg">
        </div>
        <div class="details">
            <h2>Toast<br><span>Talks</span></h2>
        </div>
      </div>

       <div class="card">
         <div class="imgBx">
          <img src="/media/pictures/eve22.jpeg">
         </div>
         <div class="details">
            <h2>Humorous<br><span>Speech Contest</span></h2>
          </div>
       </div>

       <div class="card">
         <div class="imgBx">  <img src="/media/pictures/eve23.jpeg">
         </div>
         <div class="details">
            <h2>Area H2<br><span> Contest</span></h2>
          </div>
       </div>

       <div class="card">
         <div class="imgBx">
          <img src="/media/pictures/eve24.jpeg">
         </div>
         <div class="details">
            <h2>International<br><span>Speech Contest</span></h2>
          </div>
       </div>
       <div class="card">
         <div class="imgBx">
          <img src="/media/pictures/e5.jpeg">
         </div>
         <div class="details">
            <h2> 1 year<br><span>complete</span></h2>
          </div>
       </div>

  </div>


</div>


</body>





</html>
{% endblock content%}
